html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
}

/* audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
*/

/* ==========================================================================
   Nivedita's custom styles
   ========================================================================== */

.context-heading {
    text-align:center;
    font-family: Menlo;
    font-size: 1rem;
    padding: 2em;
}

.context-body {
    text-align:center;
    font-family: Menlo;
    font-size: 0.9rem;
    padding: 1em;
}

body {
    background-image: url('http://s3-media3.fl.yelpcdn.com/bphoto/PLMTHw-LwcnwIPAT93ILqw/o.jpg')
background-repeat: no-repeat;

}

header
{
    text-align: center;
    font-family: Menlo;
    font-size: 1rem;
}


.nav{
    border: 1px solid black;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #777777;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

div.container {
    width: 96%;
    max-width: 960px;
    padding-top: 50px;
    margin: 0 auto; /* to center the container */
}
img {
    width: 100%;
}


.create-form {
    border: 1px solid black;
    width: 300px;
    border-radius: 20px;
    padding: 1em;
    margin: 2em 2em;
    float:left;
}

.login {
    text-align:right;
    padding-right: 20px;
    font-size: 0.9em;

}


.menu1 {
    border:1px solid black;
    background-color: #a94442;
    float:left;
    width:300px;
    overflow: auto;
    height:auto;
    margin:1em;
    padding: 1em;
    font-size: 1rem;
    font-family: fantasy;
    border-radius: 0.8em;
}

p {
    text-align: center;

}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* For small devices (e.g. smartphones) */
    img {
        max-width: 100%;
        display: inline-block;
    }


}
/* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
    img {
        max-width: 48%;
    }

    .menu-appetizer{
        border:1px solid black;
        padding: 5px;
        margin:20px;


    }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
    img {
        max-width: 24%;
    }

    .menu-appetizer{
        border:1px solid black;
        padding: 5px;
        margin:20px;


    }
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
